html {
    background: black;
    box-sizing: border-box;
    height: 100%;
    /*overflow-x: hidden;*/
    width: 100%;
}
*, *:before, *:after{
    box-sizing:inherit;
}
body{
    background-color: rgb(222, 206, 206);
    margin:0;
    padding:0;
}
form{
     display:block; 
}


fieldset{
    background-color: aquamarine;
    /*border: 0;
    margin: 0;
    padding: 0;*/
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
legend{
    font-weight: normal;
    color:black;
   
}
label{
    background-color: rgb(43, 226, 80);
    font-weight: bolder;
    
    color:black;
    
}
input{
    background-color: white;

}
main{
    display:block;
    background: white;
    margin: auto;
    max-width: 180rem;
    padding: 2rem 2rem;
    width: 90%;
    border-radius: 3px;
}
p {
    color: black;
}

h2{
    font-weight: normal;
    font-size: 1.3rem;
  }
  
