

body{
    width:70rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin:auto;
    padding:2rem 2rem;
    width: 90%;
    max-width: 100rem;
        
}

.academy{
    float:left;
    margin:0 1rem 0;
    
}

.embassy{
    float:left;
    margin:0 1rem 0;
}

.valilik{
    float:right;
    margin:0 1rem 0;
}

.bufe{
    float:right;
    margin:0 1rem 0;
}
fieldset{
    text-align: center;
}